*{
  background-color: #c3c6cc;
}

.contenedorG{
  background-color: #b1bacc;
  width: 95%;
  padding: 5px;
  margin: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.contenedorCodigo{
	width: 97%;
	padding: 5px;
  height: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 30px;
	border-radius: 15px;
  float: left;
  text-align: left;
}


.contenedorAnim{
	background-color: #cbcfd6;
	padding: 5px;
  border-radius: 2px;
  overflow:hidden;
  display:inline-block;
}

.contenedorQuimico{
	background-color: #cbcfd6;
	padding: 5px;
  border-radius: 2px;
  overflow:hidden;
  display:inline-block;
}

.contenedorEx{
  width : 97%;
  padding: 10px;
  height: 10%;
  margin:10px;
  padding-bottom: 30px;
  border-radius: 15px;
  overflow: hidden;
  text-align: left;
}

.cuadrito{
  width: 65px;
  height: 65px;
  font-family: arial;
  font-style: italic;
  text-align: center;
  line-height: center;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  color: #66c475;
  float: left;
  background-color: #3a424f;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-radius: 7px;
  visibility: visible;
}

.cuadritoAnim{
  width: 65px;
  height: 65px;
  font-family: arial;
  font-style: italic;
  text-align: center;
  line-height: center;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  color: #66c475;
  float: left;
  background-color: #3a424f;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-radius: 7px;
  visibility: hidden;
}

.cuadritoImg{
  width: 65px;
  height: 65px;
  font-family: arial;
  font-style: italic;
  text-align: center;
  line-height: center;
  position: relative;
  font-size: 15px;
  font-weight: bold;
  color: #66c475;
  float: left;
  background-color: #3a424f;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  border-radius: 7px;
  visibility: hidden;
}
